
*{
    font-family: "Basier circle",-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}
:root {
    --MainBackColor: #1F2739;
    --secondaryColor: #69C3F3;
    --TertiaryColor:#3684a8;
    --redcolor:#FF5936;
    --whitecolor:#DADADA;
  }
body {
    background-color: var(--MainBackColor);
    display: flex;
    flex-direction: column;
    width: 100% !important;
    padding: 0;
    margin:0;
}
body::-webkit-scrollbar {
    display:block;
  }
body::-webkit-scrollbar-thumb{
    background-color: var(--whitecolor) ;
}
header{
    display: flex !important;
    flex-direction: row !important;
    flex-wrap: wrap !important;
    width: 100%;
    margin-bottom: 1rem;
    left:0;
    top: 0;
    background-color:#283146 ;
    justify-content: space-between;
}
header>h1{
    padding-top: 1rem;
    margin: none;
    margin: 0 !important;
    width: 30%;
}
table caption{
    color: #69C3F3;
    font-size: 2rem;
}
table th {
    
    font-family: inherit;
    font-weight: bold;
    font-size: 1.3em;
    text-align: left;
    color: var(--TertiaryColor);
    background-color: var(--MainBackColor);
}
table td {
    font-family: inherit;
    font-weight: normal;
    font-size: 1em;
    -webkit-box-shadow: 0 2px 2px -2px #0E1119;
    -moz-box-shadow: 0 2px 2px -2px #0E1119;
    box-shadow: 0 2px 2px -2px #0E1119;
    padding-right: 0.9rem;
}


table {
    text-align: left;
    overflow: hidden;
    width: 80%;
    margin: 0 auto;
    display: table;
    padding: 0 0 8em 0;
}
table td, table th {
    
    font-family: inherit;
    padding-bottom: 2%;
    padding-top: 2%;
    padding-left:2%; 
}

table tr:nth-child(odd) {
    background-color: #323C50;
}
table tr:nth-child(even) {
    background-color: #2C3446;
}
table tr:nth-child(odd):hover,table tr:nth-child(even):hover {
    background-color: rgba(166, 175, 195, 0.25);
    color: #fff;
    
    transform: translate3d(-4px, 4px, 0);
    transition: all 0.3s;
}
.tableHeader{
    transition: none !important;
    transform: none !important;

}
.tableHeader{
    transition: none !important;
    transform: none !important;
}
.tableHeader th{
    
    padding: 0 !important;
}

table td:first-child { 
    color: var(--redcolor);
 }
table td:nth-child(2) { color: var(--whitecolor); }
#ColorsTable td:nth-child(3) { color: var(--whitecolor); }
#SelectorsTable td:nth-child(3) { color: var(--whitecolor); }

#whiteTextInTable{color: var(--whitecolor);}

table td a
{
    color: #3FACE7;
}


img
{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
footer
{
    border-top:2px solid;
    border-color:#323C50 ;
    color:var(--whitecolor);
    text-align:center;
    margin-top: 6px;
}
footer h3
{
    color: #69C3F3; 
}

header 
{
    
    display: block;
    margin-left: auto;
    margin-right: auto;
}
header h1,#theoricSection h1,#FlexboxExampleSection h1
{
    color: var(--secondaryColor);
}
#theoricSection h1,#FlexboxExampleSection h1
{
    font-size: 2rem;
}






    /*Buttoncontainer*/
.PageNav
{
    display:flex;
    align-items: center;
    flex-direction: column;
}

#EspecificidadSection{
    display: flex;
    align-items: center;
    flex-direction: column;
}

/*Inputs*/
.searchDiv
{
    margin: 1rem 0;
    display: inline-block;
    position: relative;
    
    width: 30%;
    right: 25%;
}
.searchDiv input{
    
    color: var(--whitecolor);
    width: inherit;
    padding: 0.375rem 0.75rem;
    border:none;
    outline: none;
    border-bottom: 2px solid var(--TertiaryColor);
    text-align: center;
    background-color:var(--MainBackColor) ;
}
.searchDiv input:focus{
    width: 90%;
    border-bottom: 2px solid var(--TertiaryColor);
    transition: 0.4s all ease;
}
.searchDiv input:focus+.focusSearchInput{
    
    width: 100%;
}
.searchDiv .focusSearchInput{
    position: absolute;
    bottom: 0;   
    left:50%;
    width:0;
    height: 2px;
    background-color: var(--secondaryColor);
    transform: translate(-50%);
    transition: 0.5s all ease;
}
.TableSection
{
    display: flex;
    flex-direction: column;
    text-align: center;
}
/*Navigator */
.HtmlNavigator{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;

    width: 60%;

}
.mainNav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center !important;
    background-color: #3FACE7;
    border-radius: 8px;
    width: 20rem;
    min-width: 50%;
    max-width: 75%;
    height: 100%;
}
.mainNav a{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: inherit;
    width: 25%;
    font-size: 15px;
    line-height: 2rem;
    text-decoration:none;
    padding: 0 1rem;
    color:white;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
    border-radius: 8px;
}
.mainNav a:hover{
    background-color: var(--redcolor);
    transition: all 0.3s ease-in;
}
/*OVERLAY*/

.overlay{
    position: fixed; 
    display: none; 
    align-items: center;
    justify-content: center;
    width: 100%; 
    height: 100%; 
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); 
}
.overlay>div{
    display: inherit;
    flex-direction:column;
    align-items: center;
    background-color: var(--MainBackColor);
    width: 60%;
    height: 85%;
    padding: 2rem;
    
    overflow-y: scroll;
    
}
.overlay div h1{
    font-size: 2rem;
    color:var(--secondaryColor)
}
.overlay div p{
    color: var(--whitecolor);
    margin: 0.5rem 1rem;
    text-justify: inter-word;
}
.textDiv
{
    display: flex;
    flex-direction: column;
    width: 100%;
    text-justify: inter-word;
    text-align: justify;
}
.imageContainer
{
    display: flex;
    height: 40%;
    width: 85%;
}
.imageContainer img{
    margin-top: 1rem;
    height: 100%;
    width: 100%;
}

.overlay #buttonContainerOverlay{
    width: 100%;
    height: 5%;
    min-height: 2.5rem;
    display: flex;
    flex-direction: row-reverse;
}
#buttonContainerOverlay button
{
    width: 15%;
    background-color: var(--TertiaryColor);
    color: var(--whitecolor);
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
    border-radius: 00.5rem;
}
#buttonContainerOverlay button:hover,#TheoricSection button:hover{
    background-color: var(--redcolor);
}
#theoricSection{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
#theoricSection div{
    text-align: center;
}

#theoricSection button{
    padding-left: 1rem;
    margin-top:  1rem;
    height: 6rem;
    width: 20rem;
    font-size: 90%;
    background-color: var(--TertiaryColor);
    color: var(--whitecolor);
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
    border-radius: 00.5rem;
}
#theoricSection button:hover{
    background-color: var(--redcolor);
}

.textDiv dl{
    padding-left: 1rem;
    padding-right: 1rem;
}
dl dt{
    font-weight: bold;
}
dl dt, dl dd
{
    color: var(--whitecolor);
    
}
#displayTable th{
    font-size: 1.1rem;
    width: 9%;
}
#displayTable td{
    width: 9%;
}
.textDiv h2{
    color: var(--secondaryColor);
    text-align: center;
}
#FlexBoxBasicOverlay ul{
    color: var(--whitecolor);
    margin-left: 2rem;
}

#FlexboxExampleSection{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#ObjectsContainerFlexExample
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;

    background-color: var(--secondaryColor);

    width: 50%;
    min-height: 20rem;
    min-width: 20rem;
    border: 2px black solid;
    border-radius: 5%;
}
#ObjectsContainerFlexExample div{
    border-radius: 5%;
    height: 5rem;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px black solid;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}
#flexCssCode{
    margin-top: 1rem;
    width:24rem;
    height: 12rem;
    background-color: var(--TertiaryColor);
    color: var(--whitecolor);
    font-size: 1rem;
}
#TextExampleContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 2rem;
    padding-right: 2rem;
}
#TextExampleContainer>h1{
    color: var(--secondaryColor);
}
#TextExampleContainer>p{
    color: var(--whitecolor)
}
#TextExampleContainer>p::first-letter{
    color: blue;
    font-weight: bold;
}
#TextExampleContainer>p::first-line{
    background-color: yellow;
    color: black;
}
#TextExampleContainer>p::after{
    content: " - Inserted Using ::after";
    color: red;
}
#TextExampleContainer>p::before{
    content: " - Inserted Using ::before";
    color:gray
 }